@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin heading-styles($size, $weight, $margin) {
    font-size: $size;
    font-weight: $weight;
    line-height: 1.2;
    letter-spacing: 1.2px;
    margin-bottom: $margin;
    text-align: center;
}